## RDD Actions

In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
        .appName("rdd-dataframe")
        .master("local")
        .getOrCreate()
)
sc = spark.sparkContext

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
24/05/25 13:59:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
rdd1 = sc.textFile("../data/airflow.cfg")
rdd2 = sc.range(0, 1000, 1, 10)

print(rdd2.collect())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [8]:
data = ["one", "two", "three"]
rdd3 = sc.parallelize(data)

rdd3.take(3)

['one', 'two', 'three']

In [9]:
cnt = rdd1.count()
print(cnt)

992

In [10]:
arr2 = rdd1.take(10)
print(arr2)

['[core]', '# The folder where your airflow pipelines live, most likely a', '# subfolder in a code repository. This path must be absolute.', 'dags_folder = /usr/local/airflow/dags', '', '# The folder where airflow should store its log files', '# This path must be absolute', 'base_log_folder = /usr/local/airflow/logs', '', '# Airflow can store logs remotely in AWS S3, Google Cloud Storage or Elastic Search.']

In [11]:
arr3 = rdd1.takeOrdered(5)
print(arr3)

['', '', '', '', '']

In [13]:
# aggregate
seqOp = lambda v1, v2: v1 + v2
combOp = lambda v1, v2: v1 + v2

rdd2.aggregate(0, seqOp, combOp)

499500

In [14]:
rdd2.reduce(lambda v1, v2: v1 + v2)

499500

In [15]:
rdd2.fold(0, lambda v1, v2: v1 + v2)

499500

In [18]:
rdd1.first()

'movieId,title,genres'

In [19]:
rdd1.top(3)

['movieId,title,genres',
 '99992,Shadow Dancer (2012),Crime|Drama|Thriller',
 '99917,Upstream Color (2013),Romance|Sci-Fi|Thriller']

In [11]:
rdd3.foreach(lambda v: print(v))

one
two
three

In [22]:
rdd4 = rdd1.repartition(2)
rdd4.foreachPartition(lambda it: print(it))

<itertools.chain object at 0xffff743d7880>
<itertools.chain object at 0xffff743d7a60>

In [23]:
# count
rdd1.count()

9743

In [24]:
rdd1.countByValue()

defaultdict(int,
            {'movieId,title,genres': 1,
             '1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy': 1,
             '2,Jumanji (1995),Adventure|Children|Fantasy': 1,
             '3,Grumpier Old Men (1995),Comedy|Romance': 1,
             '4,Waiting to Exhale (1995),Comedy|Drama|Romance': 1,
             '5,Father of the Bride Part II (1995),Comedy': 1,
             '6,Heat (1995),Action|Crime|Thriller': 1,
             '7,Sabrina (1995),Comedy|Romance': 1,
             '8,Tom and Huck (1995),Adventure|Children': 1,
             '9,Sudden Death (1995),Action': 1,
             '10,GoldenEye (1995),Action|Adventure|Thriller': 1,
             '11,"American President, The (1995)",Comedy|Drama|Romance': 1,
             '12,Dracula: Dead and Loving It (1995),Comedy|Horror': 1,
             '13,Balto (1995),Adventure|Animation|Children': 1,
             '14,Nixon (1995),Drama': 1,
             '15,Cutthroat Island (1995),Action|Adventure|Romance': 1,
             '16,Casino (1995),Crime|Drama': 1,
             '17,Sense and Sensibility (1995),Drama|Romance': 1,
             '18,Four Rooms (1995),Comedy': 1,
             '19,Ace Ventura: When Nature Calls (1995),Comedy': 1,
             '20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller': 1,
             '21,Get Shorty (1995),Comedy|Crime|Thriller': 1,
             '22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller': 1,
             '23,Assassins (1995),Action|Crime|Thriller': 1,
             '24,Powder (1995),Drama|Sci-Fi': 1,
             '25,Leaving Las Vegas (1995),Drama|Romance': 1,
             '26,Othello (1995),Drama': 1,
             '27,Now and Then (1995),Children|Drama': 1,
             '28,Persuasion (1995),Drama|Romance': 1,
             '29,"City of Lost Children, The (Cité des enfants perdus, La) (1995)",Adventure|Drama|Fantasy|Mystery|Sci-Fi': 1,
             '30,Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Crime|Drama': 1,
             '31,Dangerous Minds (1995),Drama': 1,
             '32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller': 1,
             '34,Babe (1995),Children|Drama': 1,
             '36,Dead Man Walking (1995),Crime|Drama': 1,
             '38,It Takes Two (1995),Children|Comedy': 1,
             '39,Clueless (1995),Comedy|Romance': 1,
             '40,"Cry, the Beloved Country (1995)",Drama': 1,
             '41,Richard III (1995),Drama|War': 1,
             '42,Dead Presidents (1995),Action|Crime|Drama': 1,
             '43,Restoration (1995),Drama': 1,
             '44,Mortal Kombat (1995),Action|Adventure|Fantasy': 1,
             '45,To Die For (1995),Comedy|Drama|Thriller': 1,
             '46,How to Make an American Quilt (1995),Drama|Romance': 1,
             '47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller': 1,
             '48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance': 1,
             '49,When Night Is Falling (1995),Drama|Romance': 1,
             '50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller': 1,
             '52,Mighty Aphrodite (1995),Comedy|Drama|Romance': 1,
             '53,Lamerica (1994),Adventure|Drama': 1,
             '54,"Big Green, The (1995)",Children|Comedy': 1,
             '55,Georgia (1995),Drama': 1,
             '57,Home for the Holidays (1995),Drama': 1,
             '58,"Postman, The (Postino, Il) (1994)",Comedy|Drama|Romance': 1,
             '60,"Indian in the Cupboard, The (1995)",Adventure|Children|Fantasy': 1,
             '61,Eye for an Eye (1996),Drama|Thriller': 1,
             "62,Mr. Holland's Opus (1995),Drama": 1,
             "63,Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996),Comedy|Crime": 1,
             '64,Two if by Sea (1996),Comedy|Romance': 1,
             '65,Bio-Dome (1996),Comedy': 1,
             '66,Lawnmower Man 2: Beyond Cyberspace (1996),Action|Sci-Fi|Thriller': 1,
             '68,French Twist (Gazon maudit) (1995),Comedy|Romance': 1,
             '69,Friday (1995),Comedy': 1,
             '70,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller': 1,
             '71,Fair Game (1995),Action': 1,
             '72,Kicking and Screaming (1995),Comedy|Drama': 1,
             '73,"Misérables, Les (1995)",Drama|War': 1,
             '74,Bed of Roses (1996),Drama|Romance': 1,
             '75,Big Bully (1996),Comedy|Drama': 1,
             '76,Screamers (1995),Action|Sci-Fi|Thriller': 1,
             '77,Nico Icon (1995),Documentary': 1,
             '78,"Crossing Guard, The (1995)",Action|Crime|Drama|Thriller': 1,
             '79,"Juror, The (1996)",Drama|Thriller': 1,
             '80,"White Balloon, The (Badkonake sefid) (1995)",Children|Drama': 1,
             "81,Things to Do in Denver When You're Dead (1995),Crime|Drama|Romance": 1,
             "82,Antonia's Line (Antonia) (1995),Comedy|Drama": 1,
             '83,Once Upon a Time... When We Were Colored (1995),Drama|Romance': 1,
             '85,Angels and Insects (1995),Drama|Romance': 1,
             '86,White Squall (1996),Action|Adventure|Drama': 1,
             '87,Dunston Checks In (1996),Children|Comedy': 1,
             '88,Black Sheep (1996),Comedy': 1,
             '89,Nick of Time (1995),Action|Thriller': 1,
             '92,Mary Reilly (1996),Drama|Horror|Thriller': 1,
             '93,Vampire in Brooklyn (1995),Comedy|Horror|Romance': 1,
             '94,Beautiful Girls (1996),Comedy|Drama|Romance': 1,
             '95,Broken Arrow (1996),Action|Adventure|Thriller': 1,
             '96,In the Bleak Midwinter (1995),Comedy|Drama': 1,
             '97,"Hate (Haine, La) (1995)",Crime|Drama': 1,
             '99,Heidi Fleiss: Hollywood Madam (1995),Documentary': 1,
             '100,City Hall (1996),Drama|Thriller': 1,
             '101,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance': 1,
             '102,Mr. Wrong (1996),Comedy': 1,
             '103,Unforgettable (1996),Mystery|Sci-Fi|Thriller': 1,
             '104,Happy Gilmore (1996),Comedy': 1,
             '105,"Bridges of Madison County, The (1995)",Drama|Romance': 1,
             '106,Nobody Loves Me (Keiner liebt mich) (1994),Comedy|Drama': 1,
             '107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical': 1,
             '108,Catwalk (1996),Documentary': 1,
             '110,Braveheart (1995),Action|Drama|War': 1,
             '111,Taxi Driver (1976),Crime|Drama|Thriller': 1,
             '112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime': 1,
             '113,Before and After (1996),Drama|Mystery': 1,
             '116,Anne Frank Remembered (1995),Documentary': 1,
             '117,"Young Poisoner\'s Handbook, The (1995)",Crime|Drama': 1,
             '118,If Lucy Fell (1996),Comedy|Romance': 1,
             '119,"Steal Big, Steal Little (1995)",Comedy': 1,
             '121,"Boys of St. Vincent, The (1992)",Drama': 1,
             '122,Boomerang (1992),Comedy|Romance': 1,
             '123,Chungking Express (Chung Hing sam lam) (1994),Drama|Mystery|Romance': 1,
             '125,Flirting With Disaster (1996),Comedy': 1,
             '126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy': 1,
             "128,Jupiter's Wife (1994),Documentary": 1,
             '129,Pie in the Sky (1996),Comedy|Romance': 1,
             '132,Jade (1995),Thriller': 1,
             '135,Down Periscope (1996),Comedy': 1,
             '137,Man of the Year (1995),Documentary': 1,
             '140,Up Close and Personal (1996),Drama|Romance': 1,
             '141,"Birdcage, The (1996)",Comedy': 1,
             '144,"Brothers McMullen, The (1995)",Comedy': 1,
             '145,Bad Boys (1995),Action|Comedy|Crime|Drama|Thriller': 1,
             '146,"Amazing Panda Adventure, The (1995)",Adventure|Children': 1,
             '147,"Basketball Diaries, The (1995)",Drama': 1,
             '148,"Awfully Big Adventure, An (1995)",Drama': 1,
             '149,Amateur (1994),Crime|Drama|Thriller': 1,
             '150,Apollo 13 (1995),Adventure|Drama|IMAX': 1,
             '151,Rob Roy (1995),Action|Drama|Romance|War': 1,
             '152,"Addiction, The (1995)",Drama|Horror': 1,
             '153,Batman Forever (1995),Action|Adventure|Comedy|Crime': 1,
             '154,Beauty of the Day (Belle de jour) (1967),Drama': 1,
             '155,Beyond Rangoon (1995),Adventure|Drama|War': 1,
             '156,Blue in the Face (1995),Comedy|Drama': 1,
             '157,Canadian Bacon (1995),Comedy|War': 1,
             '158,Casper (1995),Adventure|Children': 1,
             '159,Clockers (1995),Crime|Drama|Mystery': 1,
             '160,Congo (1995),Action|Adventure|Mystery|Sci-Fi': 1,
             '161,Crimson Tide (1995),Drama|Thriller|War': 1,
             '162,Crumb (1994),Documentary': 1,
             '163,Desperado (1995),Action|Romance|Western': 1,
             '164,Devil in a Blue Dress (1995),Crime|Film-Noir|Mystery|Thriller': 1,
             '165,Die Hard: With a Vengeance (1995),Action|Crime|Thriller': 1,
             '166,"Doom Generation, The (1995)",Comedy|Crime|Drama': 1,
             '168,First Knight (1995),Action|Drama|Romance': 1,
             '169,Free Willy 2: The Adventure Home (1995),Adventure|Children|Drama': 1,
             '170,Hackers (1995),Action|Adventure|Crime|Thriller': 1,
             '171,Jeffrey (1995),Comedy|Drama': 1,
             '172,Johnny Mnemonic (1995),Action|Sci-Fi|Thriller': 1,
             '173,Judge Dredd (1995),Action|Crime|Sci-Fi': 1,
             '174,Jury Duty (1995),Comedy': 1,
             '175,Kids (1995),Drama': 1,
             '176,Living in Oblivion (1995),Comedy': 1,
             '177,Lord of Illusions (1995),Horror': 1,
             '178,Love & Human Remains (1993),Comedy|Drama': 1,
             '179,Mad Love (1995),Drama|Romance': 1,
             '180,Mallrats (1995),Comedy|Romance': 1,
             '181,Mighty Morphin Power Rangers: The Movie (1995),Action|Children': 1,
             '183,Mute Witness (1994),Comedy|Horror|Thriller': 1,
             '184,Nadja (1994),Drama': 1,
             '185,"Net, The (1995)",Action|Crime|Thriller': 1,
             '186,Nine Months (1995),Comedy|Romance': 1,
             '187,Party Girl (1995),Comedy': 1,
             '188,"Prophecy, The (1995)",Fantasy|Horror|Mystery': 1,
             '189,Reckless (1995),Comedy|Fantasy': 1,
             '190,Safe (1995),Thriller': 1,
             '191,"Scarlet Letter, The (1995)",Drama|Romance': 1,
             '193,Showgirls (1995),Drama': 1,
             '194,Smoke (1995),Comedy|Drama': 1,
             '195,Something to Talk About (1995),Comedy|Drama|Romance': 1,
             '196,Species (1995),Horror|Sci-Fi': 1,
             '198,Strange Days (1995),Action|Crime|Drama|Mystery|Sci-Fi|Thriller': 1,
             '199,"Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)",Drama|Musical|Romance': 1,
             '201,Three Wishes (1995),Drama|Fantasy': 1,
             '202,Total Eclipse (1995),Drama|Romance': 1,
             '203,"To Wong Foo, Thanks for Everything! Julie Newmar (1995)",Comedy': 1,
             '204,Under Siege 2: Dark Territory (1995),Action': 1,
             '205,Unstrung Heroes (1995),Comedy|Drama': 1,
             '206,Unzipped (1995),Documentary': 1,
             '207,"Walk in the Clouds, A (1995)",Drama|Romance': 1,
             '208,Waterworld (1995),Action|Adventure|Sci-Fi': 1,
             "209,White Man's Burden (1995),Drama": 1,
             '210,Wild Bill (1995),Western': 1,
             '211,"Browning Version, The (1994)",Drama': 1,
             '212,Bushwhacked (1995),Adventure|Comedy|Crime|Mystery': 1,
             '213,Burnt by the Sun (Utomlyonnye solntsem) (1994),Drama': 1,
             '214,Before the Rain (Pred dozhdot) (1994),Drama|War': 1,
             '215,Before Sunrise (1995),Drama|Romance': 1,
             '216,Billy Madison (1995),Comedy': 1,
             '217,"Babysitter, The (1995)",Drama|Thriller': 1,
             '218,Boys on the Side (1995),Comedy|Drama': 1,
             '219,"Cure, The (1995)",Drama': 1,
             '220,Castle Freak (1995),Horror': 1,
             '222,Circle of Friends (1995),Drama|Romance': 1,
             '223,Clerks (1994),Comedy': 1,
             '224,Don Juan DeMarco (1995),Comedy|Drama|Romance': 1,
             '225,Disclosure (1994),Drama|Thriller': 1,
             '227,Drop Zone (1994),Action|Thriller': 1,
             '228,Destiny Turns on the Radio (1995),Comedy': 1,
             '229,Death and the Maiden (1994),Drama|Thriller': 1,
             '230,Dolores Claiborne (1995),Drama|Thriller': 1,
             '231,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy': 1,
             '232,Eat Drink Man Woman (Yin shi nan nu) (1994),Comedy|Drama|Romance': 1,
             '233,Exotica (1994),Drama': 1,
             '234,Exit to Eden (1994),Comedy': 1,
             '235,Ed Wood (1994),Comedy|Drama': 1,
             '236,French Kiss (1995),Action|Comedy|Romance': 1,
             '237,Forget Paris (1995),Comedy|Romance': 1,
             '238,Far From Home: The Adventures of Yellow Dog (1995),Adventure|Children': 1,
             '239,"Goofy Movie, A (1995)",Animation|Children|Comedy|Romance': 1,
             '240,Hideaway (1995),Thriller': 1,
             '241,Fluke (1995),Children|Drama': 1,
             '242,Farinelli: il castrato (1994),Drama|Musical': 1,
             '243,Gordy (1995),Children|Comedy|Fantasy': 1,
             '246,Hoop Dreams (1994),Documentary': 1,
             '247,Heavenly Creatures (1994),Crime|Drama': 1,
             '248,Houseguest (1994),Comedy': 1,
             '249,Immortal Beloved (1994),Drama|Romance': 1,
             '250,Heavyweights (Heavy Weights) (1995),Children|Comedy': 1,
             '251,"Hunted, The (1995)",Action': 1,
             '252,I.Q. (1994),Comedy|Romance': 1,
             '253,Interview with the Vampire: The Vampire Chronicles (1994),Drama|Horror': 1,
             '254,Jefferson in Paris (1995),Drama': 1,
             '255,"Jerky Boys, The (1995)",Comedy': 1,
             '256,Junior (1994),Comedy|Sci-Fi': 1,
             '257,Just Cause (1995),Mystery|Thriller': 1,
             '258,"Kid in King Arthur\'s Court, A (1995)",Adventure|Children|Comedy|Fantasy|Romance': 1,
             '259,Kiss of Death (1995),Crime|Drama|Thriller': 1,
             '260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi': 1,
             '261,Little Women (1994),Drama': 1,
             '262,"Little Princess, A (1995)",Children|Drama': 1,
             '263,Ladybird Ladybird (1994),Drama': 1,
             '265,Like Water for Chocolate (Como agua para chocolate) (1992),Drama|Fantasy|Romance': 1,
             '266,Legends of the Fall (1994),Drama|Romance|War|Western': 1,
             '267,Major Payne (1995),Comedy': 1,
             '269,My Crazy Life (Mi vida loca) (1993),Drama': 1,
             '270,Love Affair (1994),Drama|Romance': 1,
             '271,Losing Isaiah (1995),Drama': 1,
             '272,"Madness of King George, The (1994)",Comedy|Drama': 1,
             "273,Mary Shelley's Frankenstein (Frankenstein) (1994),Drama|Horror|Sci-Fi": 1,
             '274,Man of the House (1995),Comedy': 1,
             '275,Mixed Nuts (1994),Comedy': 1,
             '276,Milk Money (1994),Comedy|Romance': 1,
             '277,Miracle on 34th Street (1994),Drama': 1,
             '278,Miami Rhapsody (1995),Comedy': 1,
             '279,My Family (1995),Drama': 1,
             '280,Murder in the First (1995),Drama|Thriller': 1,
             "281,Nobody's Fool (1994),Comedy|Drama|Romance": 1,
             '282,Nell (1994),Drama': 1,
             '283,New Jersey Drive (1995),Crime|Drama': 1,
             '284,New York Cop (Nyû Yôku no koppu) (1993),Action|Crime': 1,
             '285,Beyond Bedlam (1993),Drama|Horror': 1,
             '287,Nina Takes a Lover (1994),Comedy|Romance': 1,
             '288,Natural Born Killers (1994),Action|Crime|Thriller': 1,
             '289,Only You (1994),Comedy|Romance': 1,
             '290,Once Were Warriors (1994),Crime|Drama': 1,
             '291,Poison Ivy II (1996),Drama|Thriller': 1,
             '292,Outbreak (1995),Action|Drama|Sci-Fi|Thriller': 1,
             '293,Léon: The Professional (a.k.a. The Professional) (Léon) (1994),Action|Crime|Drama|Thriller': 1,
             '294,"Perez Family, The (1995)",Comedy|Romance': 1,
             '295,"Pyromaniac\'s Love Story, A (1995)",Comedy|Romance': 1,
             '296,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller': 1,
             '298,Pushing Hands (Tui shou) (1992),Drama': 1,
             '299,Priest (1994),Drama': 1,
             '300,Quiz Show (1994),Drama': 1,
             '301,Picture Bride (Bijo photo) (1994),Drama|Romance': 1,
             '302,"Queen Margot (Reine Margot, La) (1994)",Drama|Romance': 1,
             '303,"Quick and the Dead, The (1995)",Action|Thriller|Western': 1,
             '304,Roommates (1995),Comedy|Drama': 1,
             '305,Ready to Wear (Pret-A-Porter) (1994),Comedy': 1,
             '306,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama': 1,
             '307,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama': 1,
             '308,Three Colors: White (Trzy kolory: Bialy) (1994),Comedy|Drama': 1,
             '310,Rent-a-Kid (1995),Comedy': 1,
             '311,Relative Fear (1994),Horror|Thriller': 1,
             '312,Stuart Saves His Family (1995),Comedy': 1,
             '313,"Swan Princess, The (1994)",Animation|Children': 1,
             '314,"Secret of Roan Inish, The (1994)",Children|Drama|Fantasy|Mystery': 1,
             '315,"Specialist, The (1994)",Action|Drama|Thriller': 1,
             '316,Stargate (1994),Action|Adventure|Sci-Fi': 1,
             '317,"Santa Clause, The (1994)",Comedy|Drama|Fantasy': 1,
             '318,"Shawshank Redemption, The (1994)",Crime|Drama': 1,
             '319,Shallow Grave (1994),Comedy|Drama|Thriller': 1,
             '320,Suture (1993),Film-Noir|Thriller': 1,
             '321,Strawberry and Chocolate (Fresa y chocolate) (1993),Drama': 1,
             '322,Swimming with Sharks (1995),Comedy|Drama': 1,
             '324,"Sum of Us, The (1994)",Comedy|Drama': 1,
             "325,National Lampoon's Senior Trip (1995),Comedy": 1,
             '326,To Live (Huozhe) (1994),Drama': 1,
             '327,Tank Girl (1995),Action|Comedy|Sci-Fi': 1,
             '328,Tales from the Crypt Presents: Demon Knight (1995),Horror|Thriller': 1,
             '329,Star Trek: Generations (1994),Adventure|Drama|Sci-Fi': 1,
             '330,Tales from the Hood (1995),Action|Crime|Horror': 1,
             '331,Tom & Viv (1994),Drama': 1,
             '332,Village of the Damned (1995),Horror|Sci-Fi': 1,
             '333,Tommy Boy (1995),Comedy': 1,
             '334,Vanya on 42nd Street (1994),Drama': 1,
             '335,Underneath (1995),Mystery|Thriller': 1,
             '336,"Walking Dead, The (1995)",Drama|War': 1,
             "337,What's Eating Gilbert Grape (1993),Drama": 1,
             '338,Virtuosity (1995),Action|Sci-Fi|Thriller': 1,
             '339,While You Were Sleeping (1995),Comedy|Romance': 1,
             '340,"War, The (1994)",Adventure|Drama|War': 1,
             '341,Double Happiness (1994),Drama': 1,
             "342,Muriel's Wedding (1994),Comedy": 1,
             '343,"Baby-Sitters Club, The (1995)",Children': 1,
             '344,Ace Ventura: Pet Detective (1994),Comedy': 1,
             '345,"Adventures of Priscilla, Queen of the Desert, The (1994)",Comedy|Drama': 1,
             '346,Backbeat (1993),Drama|Musical': 1,
             '347,Bitter Moon (1992),Drama|Film-Noir|Romance': 1,
             '348,Bullets Over Broadway (1994),Comedy': 1,
             '349,Clear and Present Danger (1994),Action|Crime|Drama|Thriller': 1,
             '350,"Client, The (1994)",Drama|Mystery|Thriller': 1,
             '351,"Corrina, Corrina (1994)",Comedy|Drama|Romance': 1,
             '352,Crooklyn (1994),Comedy|Drama': 1,

In [25]:
rdd1.countApproxDistinct()

10275

In [42]:
rdd1.distinct().collect()

['[core]',
 '# The folder where your airflow pipelines live, most likely a',
 '# subfolder in a code repository. This path must be absolute.',
 'dags_folder = /usr/local/airflow/dags',
 '',
 '# The folder where airflow should store its log files',
 '# This path must be absolute',
 'base_log_folder = /usr/local/airflow/logs',
 '# Airflow can store logs remotely in AWS S3, Google Cloud Storage or Elastic Search.',
 '# Set this to True if you want to enable remote logging.',
 'remote_logging = False',
 '# Users must supply an Airflow connection id that provides access to the storage',
 '# location.',
 'remote_log_conn_id =',
 'remote_base_log_folder =',
 'encrypt_s3_logs = False',
 '# Logging level',
 'logging_level = INFO',
 '# Logging level for Flask-appbuilder UI',
 'fab_logging_level = WARN',
 '# Logging class',
 '# Specify the class that will specify the logging configuration',
 '# This class has to be on the python classpath',
 '# Example: logging_config_class = my.path.default_local_settings.LOGGING_CONFIG',
 'logging_config_class =',
 '# Flag to enable/disable Colored logs in Console',
 '# Colour the logs when the controlling terminal is a TTY.',
 'colored_console_log = True',
 '# Log format for when Colored logs is enabled',
 'colored_log_format = [%%(blue)s%%(asctime)s%%(reset)s] {{%%(blue)s%%(filename)s:%%(reset)s%%(lineno)d}} %%(log_color)s%%(levelname)s%%(reset)s - %%(log_color)s%%(message)s%%(reset)s',
 'colored_formatter_class = airflow.utils.log.colored_log.CustomTTYColoredFormatter',
 '# Format of Log line',
 'log_format = [%%(asctime)s] {{%%(filename)s:%%(lineno)d}} %%(levelname)s - %%(message)s',
 'simple_log_format = %%(asctime)s %%(levelname)s - %%(message)s',
 '# Log filename format',
 'log_filename_template = {{ ti.dag_id }}/{{ ti.task_id }}/{{ ts }}/{{ try_number }}.log',
 'log_processor_filename_template = {{ filename }}.log',
 'dag_processor_manager_log_location = /usr/local/airflow/logs/dag_processor_manager/dag_processor_manager.log',
 '# Name of handler to read task instance logs.',
 '# Default to use task handler.',
 'task_log_reader = task',
 '# Hostname by providing a path to a callable, which will resolve the hostname.',
 '# The format is "package:function".',
 '#',
 '# For example, default value "socket:getfqdn" means that result from getfqdn() of "socket"',
 '# package will be used as hostname.',
 '# No argument should be required in the function specified.',
 '# If using IP address as hostname is preferred, use value ``airflow.utils.net:get_host_ip_address``',
 'hostname_callable = socket:getfqdn',
 '# Default timezone in case supplied date times are naive',
 '# can be utc (default), system, or any IANA timezone string (e.g. Europe/Amsterdam)',
 'default_timezone = utc',
 '# The executor class that airflow should use. Choices include',
 '# SequentialExecutor, LocalExecutor, CeleryExecutor, DaskExecutor, KubernetesExecutor',
 'executor = SequentialExecutor',
 '# The SqlAlchemy connection string to the metadata database.',
 '# SqlAlchemy supports many different database engine, more information',
 '# their website',
 '# sql_alchemy_conn = sqlite:////tmp/airflow.db',
 '# The encoding for the databases',
 'sql_engine_encoding = utf-8',
 '# If SqlAlchemy should pool database connections.',
 'sql_alchemy_pool_enabled = True',
 '# The SqlAlchemy pool size is the maximum number of database connections',
 '# in the pool. 0 indicates no limit.',
 'sql_alchemy_pool_size = 5',
 '# The maximum overflow size of the pool.',
 '# When the number of checked-out connections reaches the size set in pool_size,',
 '# additional connections will be returned up to this limit.',
 '# When those additional connections are returned to the pool, they are disconnected and discarded.',
 '# It follows then that the total number of simultaneous connections the pool will allow',
 '# is pool_size + max_overflow,',
 '# and the total number of "sleeping" connections the pool will allow is pool_size.',
 '# max_overflow can be set to -1 to indicate no overflow limit;',
 '# no limit will be placed on the total number of concurrent connections. Defaults to 10.',
 'sql_alchemy_max_overflow = 10',
 '# The SqlAlchemy pool recycle is the number of seconds a connection',
 '# can be idle in the pool before it is invalidated. This config does',
 '# not apply to sqlite. If the number of DB connections is ever exceeded,',
 '# a lower config value will allow the system to recover faster.',
 'sql_alchemy_pool_recycle = 1800',
 '# Check connection at the start of each connection pool checkout.',
 '# Typically, this is a simple statement like "SELECT 1".',
 '# More information here:',
 '# https://docs.sqlalchemy.org/en/13/core/pooling.html#disconnect-handling-pessimistic',
 'sql_alchemy_pool_pre_ping = True',
 '# The schema to use for the metadata database.',
 '# SqlAlchemy supports databases with the concept of multiple schemas.',
 'sql_alchemy_schema =',
 '# The amount of parallelism as a setting to the executor. This defines',
 '# the max number of task instances that should run simultaneously',
 '# on this airflow installation',
 'parallelism = 32',
 '# The number of task instances allowed to run concurrently by the scheduler',
 'dag_concurrency = 16',
 '# Are DAGs paused by default at creation',
 'dags_are_paused_at_creation = True',
 '# The maximum number of active DAG runs per DAG',
 'max_active_runs_per_dag = 16',
 "# Whether to load the examples that ship with Airflow. It's good to",
 '# get started, but you probably want to set this to False in a production',
 '# environment',
 'load_examples = True',
 '# Where your Airflow plugins are stored',
 'plugins_folder = /usr/local/airflow/plugins',
 '# Secret key to save connection passwords in the db',
 'fernet_key = $FERNET_KEY',
 '# Whether to disable pickling dags',
 'donot_pickle = False',
 '# How long before timing out a python file import',
 'dagbag_import_timeout = 30',
 '# How long before timing out a DagFileProcessor, which processes a dag file',
 'dag_file_processor_timeout = 50',
 '# The class to use for running task instances in a subprocess',
 'task_runner = StandardTaskRunner',
 '# If set, tasks without a ``run_as_user`` argument will be run with this user',
 '# Can be used to de-elevate a sudo user running Airflow when executing tasks',
 'default_impersonation =',
 '# What security module to use (for example kerberos)',
 'security =',
 '# If set to False enables some unsecure features like Charts and Ad Hoc Queries.',
 '# In 2.0 will default to True.',
 'secure_mode = False',
 '# Turn unit test mode on (overwrites many configuration options with test',
 '# values at runtime)',
 'unit_test_mode = False',
 '# Whether to enable pickling for xcom (note that this is insecure and allows for',
 '# RCE exploits). This will be deprecated in Airflow 2.0 (be forced to False).',
 'enable_xcom_pickling = True',
 '# When a task is killed forcefully, this is the amount of time in seconds that',
 '# it has to cleanup after it is sent a SIGTERM, before it is SIGKILLED',
 'killed_task_cleanup_time = 60',
 '# Whether to override params with dag_run.conf. If you pass some key-value pairs',
 '# through ``airflow dags backfill -c`` or',
 '# ``airflow dags trigger -c``, the key-value pairs will override the existing ones in params.',
 'dag_run_conf_overrides_params = False',
 '# Worker initialisation check to validate Metadata Database connection',
 'worker_precheck = False',
 "# When discovering DAGs, ignore any files that don't contain the strings ``DAG`` and ``airflow``.",
 'dag_discovery_safe_mode = True',
 '# The number of retries each task is going to have by default. Can be overridden at dag or task level.',
 'default_task_retries = 0',
 '# Whether to serialises DAGs and persist them in DB.',
 '# If set to True, Webserver reads from DB instead of parsing DAG files',
 '# More details: https://airflow.apache.org/docs/stable/dag-serialization.html',
 'store_serialized_dags = False',
 '# Updating serialized DAG can not be faster than a minimum interval to reduce database write rate.',
 'min_serialized_dag_update_interval = 30',
 '# On each dagrun check against defined SLAs',
 'check_slas = True',
 '[cli]',
 '# In what way should the cli access the API. The LocalClient will use the',
 '# database directly, while the json_client will use the api running on the',
 '# webserver',
 'api_client = airflow.api.client.local_client',
 '# If you set web_server_url_prefix, do NOT forget to append it here, ex:',
 '# ``endpoint_url = http://localhost:8080/myroot``',
 '# So api will look like: ``http://localhost:8080/myroot/api/experimental/...``',
 'endpoint_url = http://localhost:8080',
 '[debug]',
 '# Used only with DebugExecutor. If set to True DAG will fail with first',
 '# failed task. Helpful for debugging purposes.',
 'fail_fast = False',
 '[api]',
 '# How to authenticate users of the API',
 'auth_backend = airflow.api.auth.backend.default',
 '[lineage]',
 '# what lineage backend to use',
 'backend =',
 '[atlas]',
 'sasl_enabled = False',
 'host =',
 'port = 21000',
 'username =',
 'password =',
 '[operators]',
 '# The default owner assigned to each new operator, unless',
 '# provided explicitly or passed via ``default_args``',
 'default_owner = airflow',
 'default_cpus = 1',
 'default_ram = 512',
 'default_disk = 512',
 'default_gpus = 0',
 '[hive]',
 '# Default mapreduce queue for HiveOperator tasks',
 'default_hive_mapred_queue =',
 '[webserver]',
 '# The base url of your website as airflow cannot guess what domain or',
 '# cname you are using. This is used in automated emails that',
 '# airflow sends to point links to the right web server',
 '#base_url = http://localhost:8080',
 'base_url = http://localhost:8282',
 '# The ip specified when starting the web server',
 'web_server_host = 0.0.0.0',
 '# The port on which to run the web server',
 '#web_server_port = 8080',
 'web_server_port = 8282',
 '# Paths to the SSL certificate and key for the web server. When both are',
 '# provided SSL will be enabled. This does not change the web server port.',
 'web_server_ssl_cert =',
 'web_server_ssl_key =',
 "# Number of seconds the webserver waits before killing gunicorn master that doesn't respond",
 'web_server_master_timeout = 120',
 '# Number of seconds the gunicorn webserver waits before timing out on a worker',
 'web_server_worker_timeout = 120',
 '# Number of workers to refresh at a time. When set to 0, worker refresh is',
 '# disabled. When nonzero, airflow periodically refreshes webserver workers by',
 '# bringing up new ones and killing old ones.',
 'worker_refresh_batch_size = 1',
 '# Number of seconds to wait before refreshing a batch of workers.',
 'worker_refresh_interval = 30',
 '# Secret key used to run your flask app',
 '# It should be as random as possible',
 'secret_key = temporary_key',
 '# Number of workers to run the Gunicorn web server',
 'workers = 4',
 '# The worker class gunicorn should use. Choices include',
 '# sync (default), eventlet, gevent',
 'worker_class = sync',
 "# Log files for the gunicorn webserver. '-' means log to stderr.",
 'access_logfile = -',
 'error_logfile = -',
 '# Expose the configuration file in the web server',
 'expose_config = True',
 '# Expose hostname in the web server',
 'expose_hostname = True',
 '# Expose stacktrace in the web server',
 'expose_stacktrace = True',
 '# Set to true to turn on authentication:',
 '# https://airflow.apache.org/security.html#web-authentication',
 'authenticate = False',
 '# Filter the list of dags by owner name (requires authentication to be enabled)',
 'filter_by_owner = False',
 '# Filtering mode. Choices include user (default) and ldapgroup.',
 '# Ldap group filtering requires using the ldap backend',
 '# Note that the ldap server needs the "memberOf" overlay to be set up',
 '# in order to user the ldapgroup mode.',
 'owner_mode = user',
 '# Default DAG view. Valid values are:',
 '# tree, graph, duration, gantt, landing_times',
 'dag_default_view = tree',
 '# "Default DAG orientation. Valid values are:"',
 '# LR (Left->Right), TB (Top->Bottom), RL (Right->Left), BT (Bottom->Top)',
 'dag_orientation = LR',
 '# Puts the webserver in demonstration mode; blurs the names of Operators for',
 '# privacy.',
 'demo_mode = False',
 '# The amount of time (in secs) webserver will wait for initial handshake',
 '# while fetching logs from other worker machine',
 'log_fetch_timeout_sec = 5',
 '# Time interval (in secs) to wait before next log fetching.',
 'log_fetch_delay_sec = 2',
 '# Distance away from page bottom to enable auto tailing.',
 'log_auto_tailing_offset = 30',
 '# Animation speed for auto tailing log display.',
 'log_animation_speed = 1000',
 '# By default, the webserver shows paused DAGs. Flip this to hide paused',
 '# DAGs by default',
 'hide_paused_dags_by_default = False',
 '# Consistent page size across all listing views in the UI',
 'page_size = 100',
 '# Use FAB-based webserver with RBAC feature',
 'rbac = False',
 '# Define the color of navigation bar',
 'navbar_color = #007A87',
 '# Default dagrun to show in UI',
 'default_dag_run_display_number = 25',
 '# Enable werkzeug ``ProxyFix`` middleware for reverse proxy',
 'enable_proxy_fix = False',
 '# Number of values to trust for ``X-Forwarded-For``.',
 '# More info: https://werkzeug.palletsprojects.com/en/0.16.x/middleware/proxy_fix/',
 'proxy_fix_x_for = 1',
 '# Number of values to trust for ``X-Forwarded-Proto``',
 'proxy_fix_x_proto = 1',
 '# Number of values to trust for ``X-Forwarded-Host``',
 'proxy_fix_x_host = 1',
 '# Number of values to trust for ``X-Forwarded-Port``',
 'proxy_fix_x_port = 1',
 '# Number of values to trust for ``X-Forwarded-Prefix``',
 'proxy_fix_x_prefix = 1',
 '# Set secure flag on session cookie',
 'cookie_secure = False',
 '# Set samesite policy on session cookie',
 'cookie_samesite =',
 '# Default setting for wrap toggle on DAG code and TI log views.',
 'default_wrap = False',
 '# Allow the UI to be rendered in a frame',
 'x_frame_enabled = True',
 '# Send anonymous user activity to your analytics tool',
 '# choose from google_analytics, segment, or metarouter',
 '# analytics_tool =',
 '# Unique ID of your account in the analytics tool',
 '# analytics_id =',
 '# Update FAB permissions and sync security manager roles',
 '# on webserver startup',
 'update_fab_perms = True',
 '# Minutes of non-activity before logged out from UI',
 '# 0 means never get forcibly logged out',
 'force_log_out_after = 0',
 '# The UI cookie lifetime in days',
 'session_lifetime_days = 30',
 '[email]',
 'email_backend = airflow.utils.email.send_email_smtp',
 '[smtp]',
 '# If you want airflow to send emails on retries, failure, and you want to use',
 '# the airflow.utils.email.send_email_smtp function, you have to configure an',
 '# smtp server here',
 'smtp_host = localhost',
 'smtp_starttls = True',
 'smtp_ssl = False',
 '# Example: smtp_user = airflow',
 '# smtp_user =',
 '# Example: smtp_password = airflow',
 '# smtp_password =',
 'smtp_port = 25',
 'smtp_mail_from = airflow@example.com',
 '[sentry]',
 '# Sentry (https://docs.sentry.io) integration',
 'sentry_dsn =',
 '[celery]',
 '# This section only applies if you are using the CeleryExecutor in',
 '# ``[core]`` section above',
 '# The app name that will be used by celery',
 'celery_app_name = airflow.executors.celery_executor',
 '# The concurrency that will be used when starting workers with the',
 '# ``airflow celery worker`` command. This defines the number of task instances that',
 '# a worker will take, so size up your workers based on the resources on',
 '# your worker box and the nature of your tasks',
 'worker_concurrency = 16',
 '# The maximum and minimum concurrency that will be used when starting workers with the',
 '# ``airflow celery worker`` command (always keep minimum processes, but grow',
 '# to maximum if necessary). Note the value should be max_concurrency,min_concurrency',
 '# Pick these numbers based on resources on worker box and the nature of the task.',
 '# If autoscale option is available, worker_concurrency will be ignored.',
 '# http://docs.celeryproject.org/en/latest/reference/celery.bin.worker.html#cmdoption-celery-worker-autoscale',
 '# Example: worker_autoscale = 16,12',
 'worker_autoscale = 16,12',
 '# When you start an airflow worker, airflow starts a tiny web server',
 '# subprocess to serve the workers local log files to the airflow main',
 '# web server, who then builds pages and sends them to users. This defines',
 '# the port on which the logs are served. It needs to be unused, and open',
 '# visible from the main web server to connect into the workers.',
 'worker_log_server_port = 8793',
 '# The Celery broker URL. Celery supports RabbitMQ, Redis and experimentally',
 '# a sqlalchemy database. Refer to the Celery documentation for more',
 '# information.',
 '# http://docs.celeryproject.org/en/latest/userguide/configuration.html#broker-settings',
 'broker_url = redis://redis:6379/1',
 '# The Celery result_backend. When a job finishes, it needs to update the',
 '# metadata of the job. Therefore it will post a message on a message bus,',
 '# or insert it into a database (depending of the backend)',
 '# This status is used by the scheduler to update the state of the task',
 '# The use of a database is highly recommended',
 '# http://docs.celeryproject.org/en/latest/userguide/configuration.html#task-result-backend-settings',
 'result_backend = db+postgresql://airflow:airflow@postgres/airflow',
 '# Celery Flower is a sweet UI for Celery. Airflow has a shortcut to start',
 '# it ``airflow flower``. This defines the IP that Celery Flower runs on',
 'flower_host = 0.0.0.0',
 '# The root URL for Flower',
 '# Example: flower_url_prefix = /flower',
 'flower_url_prefix =',
 '# This defines the port that Celery Flower runs on',
 'flower_port = 5555',
 '# Securing Flower with Basic Authentication',
 '# Accepts user:password pairs separated by a comma',
 '# Example: flower_basic_auth = user1:password1,user2:password2',
 'flower_basic_auth =',
 '# Default queue that tasks get assigned to and that worker listen on.',
 'default_queue = default',
 '# How many processes CeleryExecutor uses to sync task state.',
 '# 0 means to use max(1, number of cores - 1) processes.',
 'sync_parallelism = 0',
 '# Import path for celery configuration options',
 'celery_config_options = airflow.config_templates.default_celery.DEFAULT_CELERY_CONFIG',
 '# In case of using SSL',
 'ssl_active = False',
 'ssl_key =',
 'ssl_cert =',
 'ssl_cacert =',
 '# Celery Pool implementation.',
 '# Choices include: prefork (default), eventlet, gevent or solo.',
 '# See:',
 '# https://docs.celeryproject.org/en/latest/userguide/workers.html#concurrency',
 '# https://docs.celeryproject.org/en/latest/userguide/concurrency/eventlet.html',
 'pool = prefork',
 '# The number of seconds to wait before timing out ``send_task_to_executor`` or',
 '# ``fetch_celery_task_state`` operations.',
 'operation_timeout = 2',
 '[celery_broker_transport_options]',
 '# This section is for specifying options which can be passed to the',
 '# underlying celery broker transport. See:',
 '# http://docs.celeryproject.org/en/latest/userguide/configuration.html#std:setting-broker_transport_options',
 '# The visibility timeout defines the number of seconds to wait for the worker',
 '# to acknowledge the task before the message is redelivered to another worker.',
 '# Make sure to increase the visibility timeout to match the time of the longest',
 "# ETA you're planning to use.",
 '# visibility_timeout is only supported for Redis and SQS celery brokers.',
 '# http://docs.celeryproject.org/en/master/userguide/configuration.html#std:setting-broker_transport_options',
 '# Example: visibility_timeout = 21600',
 '# visibility_timeout =',
 '[dask]',
 '# This section only applies if you are using the DaskExecutor in',
 '# [core] section above',
 "# The IP address and port of the Dask cluster's scheduler.",
 'cluster_address = 127.0.0.1:8786',

In [26]:
rdd1.isEmpty()

False

In [43]:
# stat
print(rdd2.max())

print(rdd2.min())

999
0

In [44]:
# meta
print(rdd1.id)

print(rdd1.context)

print(rdd1.toDebugString)

<bound method RDD.id of ../data/airflow.cfg MapPartitionsRDD[17] at textFile at NativeMethodAccessorImpl.java:0>
<SparkContext master=local appName=rdd-dataframe>
<bound method RDD.toDebugString of ../data/airflow.cfg MapPartitionsRDD[17] at textFile at NativeMethodAccessorImpl.java:0>

In [45]:
# cache
rdd2.cache()

from pyspark import StorageLevel
rdd2.persist(StorageLevel.MEMORY_ONLY)

print(rdd2.getStorageLevel())

Memory Serialized 1x Replicated

In [46]:
from datetime import datetime

sc.setCheckpointDir("data/temp/checkpoint/" + str(datetime.now()))

rdd2.checkpoint()

In [47]:
# shuffle
rdd1.getNumPartitions()

1

In [48]:
print(rdd1.partitioner)

None

In [49]:
rdd1 = rdd1.repartition(3)

print(rdd1.getNumPartitions())

3

In [50]:
rdd1 = rdd1.coalesce(2)

print(rdd1.getNumPartitions())

2

## RDD Transformation

In [77]:
data = ["co1,tcol2,tA_B_C", "col,tcol3,tD_E_F"]
rdd1 = sc.parallelize(data)

rdd1.take(10)

['co1,tcol2,tA_B_C', 'col,tcol3,tD_E_F']

In [78]:
# map
rdd2 = rdd1.map(lambda v: v.upper())
rdd2.take(10)

['CO1,TCOL2,TA_B_C', 'COL,TCOL3,TD_E_F']

In [79]:
# mapPartitions
rdd3 = rdd1.mapPartitions(lambda it: map(lambda v: v.upper(), it))
rdd3.take(10)

['CO1,TCOL2,TA_B_C', 'COL,TCOL3,TD_E_F']

In [80]:
# mapPartitionsWithIndex
rdd4 = rdd1.mapPartitionsWithIndex(lambda idx, it: map(lambda v: f"idx:{idx}, value:{v}", it))
rdd4.take(10)

['idx:0, value:co1,tcol2,tA_B_C', 'idx:0, value:col,tcol3,tD_E_F']

In [87]:
# mapPartitionsWithIndex
rdd4 = rdd1.mapPartitionsWithIndex(lambda idx, it: map(lambda v: f"idx:{idx}, value:{v}", it))
rdd4.take(10)

['idx:1, value:CO1,TCOL2,TA_B_C', 'idx:1, value:COL,TCOL3,TD_E_F']

In [88]:
# map
rdd5 = rdd1.map(lambda v: v.split(','))
rdd5.take(10)

[['CO1', 'TCOL2', 'TA_B_C'], ['COL', 'TCOL3', 'TD_E_F']]

In [89]:
# flatMap
rdd6 = rdd1.flatMap(lambda v: v.split(","))
rdd6.take(10)

['CO1', 'TCOL2', 'TA_B_C', 'COL', 'TCOL3', 'TD_E_F']

In [92]:
# distinct
rdd8 = sc.parallelize([1, 2, 3, 3, 5, 6, 8, 8, 10]).distinct()
rdd8.take(10)

[1, 2, 3, 5, 6, 8, 10]

In [93]:
# subtract
r1 = sc.parallelize([1, 2, 3, 4, 5])
r2 = sc.parallelize([4, 5, 6, 7, 8])
rdd10 = r1.subtract(r2)
rdd10.take(10)

[2, 1, 3]

In [94]:
# glom
rdd = sc.range(0, 100, 1, 5)
rdd.glom().map(lambda arr: arr.length())
rdd.take(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## RDD with key-value pairs

In [15]:
data = ["a", "b", "c", "b", "b", "d"]
rdd1 = sc.parallelize(data)

rdd2 = rdd1.map(lambda v: (v, 1))
rdd2.take(10)

[('a', 1), ('b', 1), ('c', 1), ('b', 1), ('b', 1), ('d', 1)]

In [16]:
# rdd1.mapValues(lambda v: v + 1).take(10) # error

In [17]:
# mapValues
rdd3 = rdd2.mapValues(lambda v: v + 1)
rdd3.take(10)

[('a', 2), ('b', 2), ('c', 2), ('b', 2), ('b', 2), ('d', 2)]

In [18]:
# flatMapValues
data = [("a", "1,2,3"), ("b", "4,5,6")]
rdd = sc.parallelize(data)

rdd4 = rdd.flatMapValues(lambda v: v.split(","))
rdd4.take(10)

[('a', '1'), ('a', '2'), ('a', '3'), ('b', '4'), ('b', '5'), ('b', '6')]

In [19]:
# reduceByKey
rdd6 = rdd2.reduceByKey(lambda a, b: a + b)
rdd6.take(10)

[('a', 1), ('b', 3), ('c', 1), ('d', 1)]

In [20]:
# groupByKey
rdd7 = rdd6.groupByKey()
rdd7.map(lambda x : (x[0], list(x[1]))).collect()

[('a', [1]), ('b', [3]), ('c', [1]), ('d', [1])]

In [10]:
kv1 = [("k1", "v1"), ("k2", "v2"), ("k3", "v3")]
rdd8 = sc.parallelize(kv1)
rdd8.take(10)

[('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')]

In [11]:
kv2 = [("k1", "v4"), ("k2", "v5"), ("k3", "v6")]
rdd9 = sc.parallelize(kv2)
rdd9.take(10)

[('k1', 'v4'), ('k2', 'v5'), ('k3', 'v6')]

In [21]:
# cogroup
rdd10 = rdd8.cogroup(rdd9)
[(x, tuple(map(list, y))) for x, y in sorted(list(rdd10.collect()))]

[('k1', (['v1'], ['v4'])), ('k2', (['v2'], ['v5'])), ('k3', (['v3'], ['v6']))]

In [22]:
# join
rdd11 = rdd8.join(rdd9)
rdd11.take(10)

[('k2', ('v2', 'v5')), ('k1', ('v1', 'v4')), ('k3', ('v3', 'v6'))]

In [23]:
# combineByKey
r1 = sc.parallelize([("Math", 100), ("Eng", 80), ("Math", 50), ("Eng", 70), ("Eng", 90)])

def to_list(a):
    return [a]

def append(a, b):
    a.append(b)
    return a

def extend(a, b):
    a.extend(b)
    return a

rdd12 = r1.combineByKey(to_list, append, extend)
rdd12.take(10)

[('Math', [100, 50]), ('Eng', [80, 70, 90])]

## Row

https://github.com/apache/spark/blob/master/sql/catalyst/src/main/scala/org/apache/spark/sql/catalyst/expressions/rows.scala

In [121]:
from pyspark.sql import Row

r1 = Row(1, "two", True)
r1

In [126]:
# 1
print(r1[0])

# two
print(r1[1])

# true
print(r1[2])

1
two
True

## Dataframe

In [63]:
# Dataset[Int] 타입의 Dataset 생성
data1 = [1, 2, 3]
print(type(data1))

# Cannot do this
# df = spark.createDataFrame(data1)
# df.show()

<class 'list'>

In [58]:
from pyspark.sql import Row

data2 = [Row(1), Row(2), Row(3)]

df = spark.createDataFrame(data2)
df.show()

df = spark.createDataFrame(data2, ['num'])
df.show()

+---+
| _1|
+---+
|  1|
|  2|
|  3|
+---+

+---+
|num|
+---+
|  1|
|  2|
|  3|
+---+

In [83]:
class Person:
    def __init__(self):
        self.name = "name"
        self.age = 20
        self.job = "student"
    def __init__(self, name, age, job):
        self.name = name
        self.age = age
        self.job = job

p1 = Person("foo", 30, "programmer")
p2 = Person("bar", 10, "student")

In [84]:
t1 = ("foo", 30, "programmer")
t2 = ("bar", 10, "student")

spark.createDataFrame([p1, p2]).show(3)
spark.createDataFrame([t1, t2]).show(3)

+---+----------+----+
|age|       job|name|
+---+----------+----+
| 30|programmer| foo|
| 10|   student| bar|
+---+----------+----+

+---+---+----------+
| _1| _2|        _3|
+---+---+----------+
|foo| 30|programmer|
|bar| 10|   student|
+---+---+----------+

In [76]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

schema = StructType(
    [StructField("name", StringType(), nullable = True),
     StructField("age", IntegerType(), nullable = True),
     StructField("job", StringType(), nullable = True)]
)

rowRDD = sc.parallelize([Row("foo", 7, "programmer"), Row("bar", 13, "student")])
spark.createDataFrame(rowRDD, schema).show()

+----+---+----------+
|name|age|       job|
+----+---+----------+
| foo|  7|programmer|
| bar| 13|   student|
+----+---+----------+

In [88]:
# rdd
prdd = sc.parallelize([p1, p2])
# spark.createDataFrame(prdd).show(3, false)

In [91]:
# prdd.toDF().show()

In [92]:
spark.read.text("../data/movies.csv").show(3)

+--------------------+
|               value|
+--------------------+
|movieId,title,genres|
|1,Toy Story (1995...|
|2,Jumanji (1995),...|
+--------------------+
only showing top 3 rows

In [94]:
spark.read.option("sep", ",").csv("../data/movies.csv").show(3)

+-------+----------------+--------------------+
|    _c0|             _c1|                 _c2|
+-------+----------------+--------------------+
|movieId|           title|              genres|
|      1|Toy Story (1995)|Adventure|Animati...|
|      2|  Jumanji (1995)|Adventure|Childre...|
+-------+----------------+--------------------+
only showing top 3 rows

In [96]:
spark.read.option("basePath", "../data/").csv("../data/*.csv").show(3)

+------+-------+------+---------+
|   _c0|    _c1|   _c2|      _c3|
+------+-------+------+---------+
|userId|movieId|rating|timestamp|
|     1|      1|   4.0|964982703|
|     1|      3|   4.0|964981247|
+------+-------+------+---------+
only showing top 3 rows

In [98]:
spark.read.json("../data/*.json").show(3)

+--------------------+--------------------+-----------+----+--------------------+------+--------------------+---------+
|               actor|          created_at|         id| org|             payload|public|                repo|     type|
+--------------------+--------------------+-----------+----+--------------------+------+--------------------+---------+
|{"id":83618436,"l...|2024-05-19T14:00:00Z|38509489462|null|{"repository_id":...|  true|{"id":489717552,"...|PushEvent|
|{"id":132692,"log...|2024-05-19T14:00:00Z|38509489467|null|{"repository_id":...|  true|{"id":791822148,"...|PushEvent|
|{"id":78722358,"l...|2024-05-19T14:00:00Z|38509489469|null|{"repository_id":...|  true|{"id":802788764,"...|PushEvent|
+--------------------+--------------------+-----------+----+--------------------+------+--------------------+---------+
only showing top 3 rows

In [105]:
if (spark.sql("show tables").where("tableName = 'buckected_table' ").count() == 0):
    df = spark.read.json("../data/*.json")
    df.repartition(1).write.mode("Overwrite").bucketBy(3, "created_at").saveAsTable("buckected_table")

    spark.read.table("buckected_table")
    spark.sql("select * from buckected_table limit 10")

In [107]:
spark.sql("select org from buckected_table limit 10").show()

+--------------------+
|                 org|
+--------------------+
|                null|
|{"id":110480390,"...|
|                null|
|{"id":77191076,"l...|
|                null|
|                null|
|{"id":1828073,"lo...|
|                null|
|                null|
|                null|
+--------------------+

In [104]:
df1 = spark.read.json("../data/*.json")
df1.show()

df1.printSchema()

# select 에 쿼리문으로 작성
df1.select("actor", "id").show()

+--------------------+--------------------+-----------+--------------------+--------------------+------+--------------------+----------------+
|               actor|          created_at|         id|                 org|             payload|public|                repo|            type|
+--------------------+--------------------+-----------+--------------------+--------------------+------+--------------------+----------------+
|{"id":83618436,"l...|2024-05-19T14:00:00Z|38509489462|                null|{"repository_id":...|  true|{"id":489717552,"...|       PushEvent|
|{"id":132692,"log...|2024-05-19T14:00:00Z|38509489467|                null|{"repository_id":...|  true|{"id":791822148,"...|       PushEvent|
|{"id":78722358,"l...|2024-05-19T14:00:00Z|38509489469|                null|{"repository_id":...|  true|{"id":802788764,"...|       PushEvent|
|{"id":41898282,"l...|2024-05-19T14:00:00Z|38509489476|                null|{"repository_id":...|  true|{"id":400840924,"...|       PushEvent|
|{"id":41898282,"l...|2024-05-19T14:00:00Z|38509489485|                null|{"repository_id":...|  true|{"id":492467823,"...|       PushEvent|
|{"id":97881751,"l...|2024-05-19T14:00:00Z|38509489490|                null|                  {}|  true|{"id":802159575,"...|     PublicEvent|
|{"id":153695169,"...|2024-05-19T14:00:00Z|38509489497|                null|{"repository_id":...|  true|{"id":730932158,"...|       PushEvent|
|{"id":147519026,"...|2024-05-19T14:00:00Z|38509489499|                null|{"ref":"Jen","ref...|  true|{"id":802287057,"...|     CreateEvent|
|{"id":168751944,"...|2024-05-19T14:00:00Z|38509489502|                null|{"repository_id":...|  true|{"id":795074361,"...|       PushEvent|
|{"id":101239440,"...|2024-05-19T14:00:00Z|38509489505|                null|{"repository_id":...|  true|{"id":662925679,"...|       PushEvent|
|{"id":56484153,"l...|2024-05-19T14:00:00Z|38509489508|                null|{"repository_id":...|  true|{"id":802567839,"...|       PushEvent|
|{"id":100176299,"...|2024-05-19T14:00:00Z|38509489510|                null|{"ref":"main","re...|  true|{"id":802872017,"...|     CreateEvent|
|{"id":39814207,"l...|2024-05-19T14:00:00Z|38509489513|                null|{"repository_id":...|  true|{"id":406061839,"...|       PushEvent|
|{"id":32386050,"l...|2024-05-19T14:00:00Z|38509489514|                null|{"action":"started"}|  true|{"id":582822129,"...|      WatchEvent|
|{"id":41898282,"l...|2024-05-19T14:00:00Z|38509489525|                null|{"repository_id":...|  true|{"id":331059513,"...|       PushEvent|
|{"id":107810300,"...|2024-05-19T14:00:00Z|38509489529|                null|{"repository_id":...|  true|{"id":773459167,"...|       PushEvent|
|{"id":170170245,"...|2024-05-19T14:00:00Z|38509489531|                null|{"action":"started"}|  true|{"id":802558468,"...|      WatchEvent|
|{"id":697563,"log...|2024-05-19T14:00:00Z|38509489533|{"id":1030579,"lo...|{"action":"closed...|  true|{"id":279338189,"...|PullRequestEvent|
|{"id":105553566,"...|2024-05-19T14:00:00Z|38509489550|                null|{"member":{"login...|  true|{"id":802867335,"...|     MemberEvent|
|{"id":86715496,"l...|2024-05-19T14:00:00Z|38509489551|                null|{"repository_id":...|  true|{"id":717635947,"...|       PushEvent|
+--------------------+--------------------+-----------+--------------------+--------------------+------+--------------------+----------------+
only showing top 20 rows

root
 |-- actor: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- org: string (nullable = true)
 |-- payload: string (nullable = true)
 |-- public: boolean (nullable = true)
 |-- repo: string (nullable = true)
 |-- type: string (nullable = true)

+--------------------+-----------+
|               actor|         id|
+--------------------+-----------+
|{"id":83618436,"l...|38509489462|
|{"id":132692,"log...|38509489467|
|{"id":78722358,"l...|38509489469|
|{"id":41898282,"l...|38509489476|
|{"id":41898282,"l...|38509489485|
|{"id":97881751,"l...|38509489490|
|{"id":153695169,"...|38509489497|
|{"id":147519026,"...|38509489499|
|{"id":168751944,"...|38509489502|
|{"id":101239440,"...|38509489505|
|{"id":56484153,"l...|38509489508|
|{"id":100176299,"...|38509489510|
|{"id":39814207,"l...|38509489513|
|{"id":32386050,"l...|38509489514|
|{"id":41898282,"l...|38509489525|
|{"id":107810300,"...|38509489529|
|{"id":170170245,"...|38509489531|
|{"id":697563,"log...|38509489533|
|{"id":105553566,"...|38509489550|
|{"id":86715496,"l...|38509489551|
+--------------------+-----------+
only showing top 20 rows

In [108]:
# column
c1 = "actor"
c2 = "id"

df1.select(c1, c2).show()

+--------------------+-----------+
|               actor|         id|
+--------------------+-----------+
|{"id":83618436,"l...|38509489462|
|{"id":132692,"log...|38509489467|
|{"id":78722358,"l...|38509489469|
|{"id":41898282,"l...|38509489476|
|{"id":41898282,"l...|38509489485|
|{"id":97881751,"l...|38509489490|
|{"id":153695169,"...|38509489497|
|{"id":147519026,"...|38509489499|
|{"id":168751944,"...|38509489502|
|{"id":101239440,"...|38509489505|
|{"id":56484153,"l...|38509489508|
|{"id":100176299,"...|38509489510|
|{"id":39814207,"l...|38509489513|
|{"id":32386050,"l...|38509489514|
|{"id":41898282,"l...|38509489525|
|{"id":107810300,"...|38509489529|
|{"id":170170245,"...|38509489531|
|{"id":697563,"log...|38509489533|
|{"id":105553566,"...|38509489550|
|{"id":86715496,"l...|38509489551|
+--------------------+-----------+
only showing top 20 rows

In [113]:
# pyspark.sql.functions.col
from pyspark.sql.functions import col

c1 = col("actor")
c2 = col("id")

df1.select(c1, c2).show()

+--------------------+-----------+
|               actor|         id|
+--------------------+-----------+
|{"id":83618436,"l...|38509489462|
|{"id":132692,"log...|38509489467|
|{"id":78722358,"l...|38509489469|
|{"id":41898282,"l...|38509489476|
|{"id":41898282,"l...|38509489485|
|{"id":97881751,"l...|38509489490|
|{"id":153695169,"...|38509489497|
|{"id":147519026,"...|38509489499|
|{"id":168751944,"...|38509489502|
|{"id":101239440,"...|38509489505|
|{"id":56484153,"l...|38509489508|
|{"id":100176299,"...|38509489510|
|{"id":39814207,"l...|38509489513|
|{"id":32386050,"l...|38509489514|
|{"id":41898282,"l...|38509489525|
|{"id":107810300,"...|38509489529|
|{"id":170170245,"...|38509489531|
|{"id":697563,"log...|38509489533|
|{"id":105553566,"...|38509489550|
|{"id":86715496,"l...|38509489551|
+--------------------+-----------+
only showing top 20 rows

In [117]:
c1 = col("actor")
c2 = col("id")
cols = [c1, c2]

# (참고) def select(cols: Column*): DataFrame
df1.select(*cols).show()

+--------------------+-----------+
|               actor|         id|
+--------------------+-----------+
|{"id":83618436,"l...|38509489462|
|{"id":132692,"log...|38509489467|
|{"id":78722358,"l...|38509489469|
|{"id":41898282,"l...|38509489476|
|{"id":41898282,"l...|38509489485|
|{"id":97881751,"l...|38509489490|
|{"id":153695169,"...|38509489497|
|{"id":147519026,"...|38509489499|
|{"id":168751944,"...|38509489502|
|{"id":101239440,"...|38509489505|
|{"id":56484153,"l...|38509489508|
|{"id":100176299,"...|38509489510|
|{"id":39814207,"l...|38509489513|
|{"id":32386050,"l...|38509489514|
|{"id":41898282,"l...|38509489525|
|{"id":107810300,"...|38509489529|
|{"id":170170245,"...|38509489531|
|{"id":697563,"log...|38509489533|
|{"id":105553566,"...|38509489550|
|{"id":86715496,"l...|38509489551|
+--------------------+-----------+
only showing top 20 rows

In [119]:
# 문자열로 된 칼럼명

cols = [lambda c: col(c) for c in "actor,id".split(",")]

df1.select(*cols)

TypeError: Invalid argument, not a string or column: <function <listcomp>.<lambda> at 0xffff4f9ba4c0> of type <class 'function'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

## Dataframe API

In [120]:
# DataFrameReader : https://spark.apache.org/docs/latest/api/scala/index.html#org.apache.spark.sql.DataFrameReader
df = spark.read.json("../data/*.json")

# schema
df.printSchema()
df.columns
print(df.dtypes)

root
 |-- actor: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- org: string (nullable = true)
 |-- payload: string (nullable = true)
 |-- public: boolean (nullable = true)
 |-- repo: string (nullable = true)
 |-- type: string (nullable = true)

[('actor', 'string'), ('created_at', 'string'), ('id', 'string'), ('org', 'string'), ('payload', 'string'), ('public', 'boolean'), ('repo', 'string'), ('type', 'string')]

In [123]:
# Actions
df.show(3, False)
df.head
df.first
df.take(2)
df.collect
df.limit(10)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+
|actor                                                                                                                                                                                                 |created_at          |id         |org |payload                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |public|repo                                                                                                                  |type     |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+
|{"id":83618436,"login":"Drunkula","display_login":"Drunkula","gravatar_id":"","url":"https://api.github.com/users/Drunkula","avatar_url":"https://avatars.githubusercontent.com/u/83618436?"}         |2024-05-19T14:00:00Z|38509489462|null|{"repository_id":489717552,"push_id":18490096435,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"ae1b25f136b195ca0e671853c82a2000fd603442","before":"d682fc58a487a4e7fb0ca4f1b75145704447819d","commits":[{"sha":"ae1b25f136b195ca0e671853c82a2000fd603442","author":{"email":"spudguzzler@sharklasers.com","name":"Drunkula"},"message":"command replacements for players","distinct":true,"url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch/commits/ae1b25f136b195ca0e671853c82a2000fd603442"}]}|true  |{"id":489717552,"name":"Drunkula/twitchtoolsglitch","url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch"}  |PushEvent|
|{"id":132692,"login":"allenlooplee","display_login":"allenlooplee","gravatar_id":"","url":"https://api.github.com/users/allenlooplee","avatar_url":"https://avatars.githubusercontent.com/u/132692?"} |2024-05-19T14:00:00Z|38509489467|null|{"repository_id":791822148,"push_id":18490096438,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"c205a4808b8e180f093dfbaef76eb069090abec9","before":"ed0fe19aa1e24eb1e670360b409d8d22492a656b","commits":[{"sha":"c205a4808b8e180f093dfbaef76eb069090abec9","author":{"email":"looplee@msn.com","name":"Allen Lee"},"message":"Update README.md","distinct":true,"url":"https://api.github.com/repos/allenlooplee/open-piggy-ios/commits/c205a4808b8e180f093dfbaef76eb069090abec9"}]}                          |true  |{"id":791822148,"name":"allenlooplee/open-piggy-ios","url":"https://api.github.com/repos/allenlooplee/open-piggy-ios"}|PushEvent|
|{"id":78722358,"login":"carmithersh","display_login":"carmithersh","gravatar_id":"","url":"https://api.github.com/users/carmithersh","avatar_url":"https://avatars.githubusercontent.com/u/78722358?"}|2024-05-19T14:00:00Z|38509489469|null|{"repository_id":802788764,"push_id":18490096437,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"948b150d88e5c407b876347018e49730e9b814b8","before":"e36c65c1a38620d970b4290df69b34398c8d579a","commits":[{"sha":"948b150d88e5c407b876347018e49730e9b814b8","author":{"email":"carmith@jfrog.com","name":"carmith"},"message":"testing output params","distinct":true,"url":"https://api.github.com/repos/carmithersh/setup-jfrog-cli/commits/948b150d88e5c407b876347018e49730e9b814b8"}]}                     |true  |{"id":802788764,"name":"carmithersh/setup-jfrog-cli","url":"https://api.github.com/repos/carmithersh/setup-jfrog-cli"}|PushEvent|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+
only showing top 3 rows

DataFrame[actor: string, created_at: string, id: string, org: string, payload: string, public: boolean, repo: string, type: string]

In [126]:
# column
# df.col("actor")
df.select("actor")

DataFrame[actor: string]

In [129]:
# sql
df.select("actor", "id")

# https://spark.apache.org/docs/latest/api/sql/index.html
df.selectExpr("upper(actor) as upperName").show(3, False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|upperName                                                                                                                                                                                             |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"ID":83618436,"LOGIN":"DRUNKULA","DISPLAY_LOGIN":"DRUNKULA","GRAVATAR_ID":"","URL":"HTTPS://API.GITHUB.COM/USERS/DRUNKULA","AVATAR_URL":"HTTPS://AVATARS.GITHUBUSERCONTENT.COM/U/83618436?"}         |
|{"ID":132692,"LOGIN":"ALLENLOOPLEE","DISPLAY_LOGIN":"ALLENLOOPLEE","GRAVATAR_ID":"","URL":"HTTPS://API.GITHUB.COM/USERS/ALLENLOOPLEE","AVATAR_URL":"HTTPS://AVATARS.GITHUBUSERCONTENT.COM/U/132692?"} |
|{"ID":78722358,"LOGIN":"CARMITHERSH","DISPLAY_LOGIN":"CARMITHERSH","GRAVATAR_ID":"","URL":"HTTPS://API.GITHUB.COM/USERS/CARMITHERSH","AVATAR_URL":"HTTPS://AVATARS.GITHUBUSERCONTENT.COM/U/78722358?"}|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 3 rows

In [131]:
df.withColumn("newColumn", col("actor")).show(3, False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|actor                                                                                                                                                                                                 |created_at          |id         |org |payload                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |public|repo                                                                                                                  |type     |newColumn                                                                                                                                                                                             |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"id":83618436,"login":"Drunkula","display_login":"Drunkula","gravatar_id":"","url":"https://api.github.com/users/Drunkula","avatar_url":"https://avatars.githubusercontent.com/u/83618436?"}         |2024-05-19T14:00:00Z|38509489462|null|{"repository_id":489717552,"push_id":18490096435,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"ae1b25f136b195ca0e671853c82a2000fd603442","before":"d682fc58a487a4e7fb0ca4f1b75145704447819d","commits":[{"sha":"ae1b25f136b195ca0e671853c82a2000fd603442","author":{"email":"spudguzzler@sharklasers.com","name":"Drunkula"},"message":"command replacements for players","distinct":true,"url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch/commits/ae1b25f136b195ca0e671853c82a2000fd603442"}]}|true  |{"id":489717552,"name":"Drunkula/twitchtoolsglitch","url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch"}  |PushEvent|{"id":83618436,"login":"Drunkula","display_login":"Drunkula","gravatar_id":"","url":"https://api.github.com/users/Drunkula","avatar_url":"https://avatars.githubusercontent.com/u/83618436?"}         |
|{"id":132692,"login":"allenlooplee","display_login":"allenlooplee","gravatar_id":"","url":"https://api.github.com/users/allenlooplee","avatar_url":"https://avatars.githubusercontent.com/u/132692?"} |2024-05-19T14:00:00Z|38509489467|null|{"repository_id":791822148,"push_id":18490096438,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"c205a4808b8e180f093dfbaef76eb069090abec9","before":"ed0fe19aa1e24eb1e670360b409d8d22492a656b","commits":[{"sha":"c205a4808b8e180f093dfbaef76eb069090abec9","author":{"email":"looplee@msn.com","name":"Allen Lee"},"message":"Update README.md","distinct":true,"url":"https://api.github.com/repos/allenlooplee/open-piggy-ios/commits/c205a4808b8e180f093dfbaef76eb069090abec9"}]}                          |true  |{"id":791822148,"name":"allenlooplee/open-piggy-ios","url":"https://api.github.com/repos/allenlooplee/open-piggy-ios"}|PushEvent|{"id":132692,"login":"allenlooplee","display_login":"allenlooplee","gravatar_id":"","url":"https://api.github.com/users/allenlooplee","avatar_url":"https://avatars.githubusercontent.com/u/132692?"} |
|{"id":78722358,"login":"carmithersh","display_login":"carmithersh","gravatar_id":"","url":"https://api.github.com/users/carmithersh","avatar_url":"https://avatars.githubusercontent.com/u/78722358?"}|2024-05-19T14:00:00Z|38509489469|null|{"repository_id":802788764,"push_id":18490096437,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"948b150d88e5c407b876347018e49730e9b814b8","before":"e36c65c1a38620d970b4290df69b34398c8d579a","commits":[{"sha":"948b150d88e5c407b876347018e49730e9b814b8","author":{"email":"carmith@jfrog.com","name":"carmith"},"message":"testing output params","distinct":true,"url":"https://api.github.com/repos/carmithersh/setup-jfrog-cli/commits/948b150d88e5c407b876347018e49730e9b814b8"}]}                     |true  |{"id":802788764,"name":"carmithersh/setup-jfrog-cli","url":"https://api.github.com/repos/carmithersh/setup-jfrog-cli"}|PushEvent|{"id":78722358,"login":"carmithersh","display_login":"carmithersh","gravatar_id":"","url":"https://api.github.com/users/carmithersh","avatar_url":"https://avatars.githubusercontent.com/u/78722358?"}|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 3 rows

In [134]:
df.drop("newColumn").show(3, False)

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+
|actor                                                                                                                                                                                                 |created_at          |id         |org |payload                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |public|repo                                                                                                                  |type     |
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+
|{"id":83618436,"login":"Drunkula","display_login":"Drunkula","gravatar_id":"","url":"https://api.github.com/users/Drunkula","avatar_url":"https://avatars.githubusercontent.com/u/83618436?"}         |2024-05-19T14:00:00Z|38509489462|null|{"repository_id":489717552,"push_id":18490096435,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"ae1b25f136b195ca0e671853c82a2000fd603442","before":"d682fc58a487a4e7fb0ca4f1b75145704447819d","commits":[{"sha":"ae1b25f136b195ca0e671853c82a2000fd603442","author":{"email":"spudguzzler@sharklasers.com","name":"Drunkula"},"message":"command replacements for players","distinct":true,"url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch/commits/ae1b25f136b195ca0e671853c82a2000fd603442"}]}|true  |{"id":489717552,"name":"Drunkula/twitchtoolsglitch","url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch"}  |PushEvent|
|{"id":132692,"login":"allenlooplee","display_login":"allenlooplee","gravatar_id":"","url":"https://api.github.com/users/allenlooplee","avatar_url":"https://avatars.githubusercontent.com/u/132692?"} |2024-05-19T14:00:00Z|38509489467|null|{"repository_id":791822148,"push_id":18490096438,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"c205a4808b8e180f093dfbaef76eb069090abec9","before":"ed0fe19aa1e24eb1e670360b409d8d22492a656b","commits":[{"sha":"c205a4808b8e180f093dfbaef76eb069090abec9","author":{"email":"looplee@msn.com","name":"Allen Lee"},"message":"Update README.md","distinct":true,"url":"https://api.github.com/repos/allenlooplee/open-piggy-ios/commits/c205a4808b8e180f093dfbaef76eb069090abec9"}]}                          |true  |{"id":791822148,"name":"allenlooplee/open-piggy-ios","url":"https://api.github.com/repos/allenlooplee/open-piggy-ios"}|PushEvent|
|{"id":78722358,"login":"carmithersh","display_login":"carmithersh","gravatar_id":"","url":"https://api.github.com/users/carmithersh","avatar_url":"https://avatars.githubusercontent.com/u/78722358?"}|2024-05-19T14:00:00Z|38509489469|null|{"repository_id":802788764,"push_id":18490096437,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"948b150d88e5c407b876347018e49730e9b814b8","before":"e36c65c1a38620d970b4290df69b34398c8d579a","commits":[{"sha":"948b150d88e5c407b876347018e49730e9b814b8","author":{"email":"carmith@jfrog.com","name":"carmith"},"message":"testing output params","distinct":true,"url":"https://api.github.com/repos/carmithersh/setup-jfrog-cli/commits/948b150d88e5c407b876347018e49730e9b814b8"}]}                     |true  |{"id":802788764,"name":"carmithersh/setup-jfrog-cli","url":"https://api.github.com/repos/carmithersh/setup-jfrog-cli"}|PushEvent|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+----------------------------------------------------------------------------------------------------------------------+---------+
only showing top 3 rows

In [138]:
df.filter("id == 38509489462").show(3, False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+--------------------------------------------------------------------------------------------------------------------+---------+
|actor                                                                                                                                                                                        |created_at          |id         |org |payload                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |public|repo                                                                                                                |type     |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+--------------------------------------------------------------------------------------------------------------------+---------+
|{"id":83618436,"login":"Drunkula","display_login":"Drunkula","gravatar_id":"","url":"https://api.github.com/users/Drunkula","avatar_url":"https://avatars.githubusercontent.com/u/83618436?"}|2024-05-19T14:00:00Z|38509489462|null|{"repository_id":489717552,"push_id":18490096435,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"ae1b25f136b195ca0e671853c82a2000fd603442","before":"d682fc58a487a4e7fb0ca4f1b75145704447819d","commits":[{"sha":"ae1b25f136b195ca0e671853c82a2000fd603442","author":{"email":"spudguzzler@sharklasers.com","name":"Drunkula"},"message":"command replacements for players","distinct":true,"url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch/commits/ae1b25f136b195ca0e671853c82a2000fd603442"}]}|true  |{"id":489717552,"name":"Drunkula/twitchtoolsglitch","url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch"}|PushEvent|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+--------------------------------------------------------------------------------------------------------------------+---------+

In [139]:
df.where("id == 38509489462").show(3, False)

+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+--------------------------------------------------------------------------------------------------------------------+---------+
|actor                                                                                                                                                                                        |created_at          |id         |org |payload                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |public|repo                                                                                                                |type     |
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+--------------------------------------------------------------------------------------------------------------------+---------+
|{"id":83618436,"login":"Drunkula","display_login":"Drunkula","gravatar_id":"","url":"https://api.github.com/users/Drunkula","avatar_url":"https://avatars.githubusercontent.com/u/83618436?"}|2024-05-19T14:00:00Z|38509489462|null|{"repository_id":489717552,"push_id":18490096435,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"ae1b25f136b195ca0e671853c82a2000fd603442","before":"d682fc58a487a4e7fb0ca4f1b75145704447819d","commits":[{"sha":"ae1b25f136b195ca0e671853c82a2000fd603442","author":{"email":"spudguzzler@sharklasers.com","name":"Drunkula"},"message":"command replacements for players","distinct":true,"url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch/commits/ae1b25f136b195ca0e671853c82a2000fd603442"}]}|true  |{"id":489717552,"name":"Drunkula/twitchtoolsglitch","url":"https://api.github.com/repos/Drunkula/twitchtoolsglitch"}|PushEvent|
+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+-----------+----+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------+--------------------------------------------------------------------------------------------------------------------+---------+

In [140]:
df.orderBy("id").show(3)

+--------------------+----------+----+--------------------+--------------------+------+--------------------+------------------+
|               actor|created_at|  id|                 org|             payload|public|                repo|              type|
+--------------------+----------+----+--------------------+--------------------+------+--------------------+------------------+
|{"id":35613825,"l...|2024-05-19|null|                null|{"comment":{"url"...|  true|{"id":751363324,"...|CommitCommentEvent|
|{"id":124656842,"...|2024-05-19|null|                null|{"comment":{"url"...|  true|{"id":802566251,"...|CommitCommentEvent|
|{"id":67918504,"l...|2024-05-19|null|{"id":790012,"log...|{"comment":{"url"...|  true|{"id":56710511,"n...|CommitCommentEvent|
+--------------------+----------+----+--------------------+--------------------+------+--------------------+------------------+
only showing top 3 rows

In [144]:
df.sort(col("id")).show(3)

+--------------------+----------+----+--------------------+--------------------+------+--------------------+------------------+
|               actor|created_at|  id|                 org|             payload|public|                repo|              type|
+--------------------+----------+----+--------------------+--------------------+------+--------------------+------------------+
|{"id":35613825,"l...|2024-05-19|null|                null|{"comment":{"url"...|  true|{"id":751363324,"...|CommitCommentEvent|
|{"id":124656842,"...|2024-05-19|null|                null|{"comment":{"url"...|  true|{"id":802566251,"...|CommitCommentEvent|
|{"id":67918504,"l...|2024-05-19|null|{"id":790012,"log...|{"comment":{"url"...|  true|{"id":56710511,"n...|CommitCommentEvent|
+--------------------+----------+----+--------------------+--------------------+------+--------------------+------------------+
only showing top 3 rows

In [149]:
import pyspark.sql.functions as F

# aggregations
groupedDF = df.groupBy("type")
groupedDF.agg(F.max(F.col("created_at"))).show()

+--------------------+--------------------+
|                type|     max(created_at)|
+--------------------+--------------------+
|PullRequestReview...|2024-05-19T14:59:57Z|
|           PushEvent|2024-05-19T14:59:59Z|
|         GollumEvent|2024-05-19T14:59:37Z|
|        ReleaseEvent|2024-05-19T14:59:56Z|
|  CommitCommentEvent|2024-05-19T14:59:55Z|
|         CreateEvent|2024-05-19T14:59:58Z|
|PullRequestReview...|2024-05-19T14:59:56Z|
|   IssueCommentEvent|2024-05-19T14:59:58Z|
|         DeleteEvent|2024-05-19T14:59:59Z|
|         IssuesEvent|2024-05-19T14:59:59Z|
|           ForkEvent|2024-05-19T14:59:59Z|
|         PublicEvent|2024-05-19T14:59:53Z|
|         MemberEvent|2024-05-19T14:59:56Z|
|          WatchEvent|2024-05-19T14:59:59Z|
|    PullRequestEvent|2024-05-19T14:59:59Z|
+--------------------+--------------------+

In [153]:
# 중복제거
print(df.count())
print(df.distinct().count())

196474

196474

## Column API

In [154]:
df1 = spark.read.json("../data/*.json")

c1 = F.col("actor")
c2 = F.col("id")

df2 = df1.select(c1, c2)

df1.printSchema()
df2.printSchema()

root
 |-- actor: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- id: string (nullable = true)
 |-- org: string (nullable = true)
 |-- payload: string (nullable = true)
 |-- public: boolean (nullable = true)
 |-- repo: string (nullable = true)
 |-- type: string (nullable = true)

root
 |-- actor: string (nullable = true)
 |-- id: string (nullable = true)

In [157]:
df1.select("org").orderBy("created_at").show(3)

+--------------------+
|                 org|
+--------------------+
|                null|
|{"id":790012,"log...|
|                null|
+--------------------+
only showing top 3 rows

In [158]:
import pyspark.sql.functions as F
df1 = spark.read.options(header='True').csv("../data/movies.csv")
df1.show(3, False)

+-------+-----------------------+-------------------------------------------+
|movieId|title                  |genres                                     |
+-------+-----------------------+-------------------------------------------+
|1      |Toy Story (1995)       |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)         |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)|Comedy|Romance                             |
+-------+-----------------------+-------------------------------------------+
only showing top 3 rows

In [163]:
cc = F.split(F.col("genres"), '[|]', 2)
df2 = df1.select(cc.alias("cc"))
df2.show(5, False)

+----------------------------------------------+
|cc                                            |
+----------------------------------------------+
|[Adventure, Animation|Children|Comedy|Fantasy]|
|[Adventure, Children|Fantasy]                 |
|[Comedy, Romance]                             |
|[Comedy, Drama|Romance]                       |
|[Comedy]                                      |
+----------------------------------------------+
only showing top 5 rows

In [169]:
cc = F.split(F.col("genres"), '[|]', -1)
df2 = df1.select(cc.alias("cc"))
df2.show(5, False)

+-------------------------------------------------+
|cc                                               |
+-------------------------------------------------+
|[Adventure, Animation, Children, Comedy, Fantasy]|
|[Adventure, Children, Fantasy]                   |
|[Comedy, Romance]                                |
|[Comedy, Drama, Romance]                         |
|[Comedy]                                         |
+-------------------------------------------------+
only showing top 5 rows

In [171]:
# (0 to 2) -> 0, 1, 2
cols = [F.expr(f"cc[{idx}]") for idx in range(0, 2)]
df3 = df2.select(cols)
df3.show(5, False)

+---------+---------+
|cc[0]    |cc[1]    |
+---------+---------+
|Adventure|Animation|
|Adventure|Children |
|Comedy   |Romance  |
|Comedy   |Drama    |
|Comedy   |null     |
+---------+---------+
only showing top 5 rows

In [172]:
# lit
df4 = df3.withColumn("c3", F.lit("Korea"))
df4.show(5, False)

+---------+---------+-----+
|cc[0]    |cc[1]    |c3   |
+---------+---------+-----+
|Adventure|Animation|Korea|
|Adventure|Children |Korea|
|Comedy   |Romance  |Korea|
|Comedy   |Drama    |Korea|
|Comedy   |null     |Korea|
+---------+---------+-----+
only showing top 5 rows

In [176]:
# explode
df5 = df2.select(F.explode(col("cc")))
df5.show(10, False)

+---------+
|col      |
+---------+
|Adventure|
|Animation|
|Children |
|Comedy   |
|Fantasy  |
|Adventure|
|Children |
|Fantasy  |
|Comedy   |
|Romance  |
+---------+
only showing top 10 rows

In [178]:
# drop
df4.drop("cc[1]", "c3").show(5, False)

+---------+
|cc[0]    |
+---------+
|Adventure|
|Adventure|
|Comedy   |
|Comedy   |
|Comedy   |
+---------+
only showing top 5 rows

In [183]:
df7 = df1.groupBy("genres").agg(F.countDistinct("title").alias("titleCount"))
df7.show(5, False)

+------------------------------+----------+
|genres                        |titleCount|
+------------------------------+----------+
|Comedy|Horror|Thriller        |17        |
|Action|Drama|Horror           |1         |
|Adventure|Sci-Fi|Thriller     |4         |
|Action|Animation|Comedy|Sci-Fi|2         |
|Action|Adventure|Drama|Fantasy|6         |
+------------------------------+----------+
only showing top 5 rows

In [185]:
df8 = df7.sort(F.desc("titleCount"))
df8.show(10, False)

+--------------------+----------+
|genres              |titleCount|
+--------------------+----------+
|Drama               |1053      |
|Comedy              |946       |
|Comedy|Drama        |435       |
|Comedy|Romance      |363       |
|Drama|Romance       |349       |
|Documentary         |339       |
|Comedy|Drama|Romance|276       |
|Drama|Thriller      |168       |
|Horror              |167       |
|Horror|Thriller     |135       |
+--------------------+----------+
only showing top 10 rows

## udf

In [23]:
import pyspark.sql.functions as F

df1 = spark.read.options(header='True', inferSchema='True', delimiter=',').csv("../data/movies.csv")
df1.show(3, False)

+-------+-----------------------+-------------------------------------------+
|movieId|title                  |genres                                     |
+-------+-----------------------+-------------------------------------------+
|1      |Toy Story (1995)       |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)         |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)|Comedy|Romance                             |
+-------+-----------------------+-------------------------------------------+
only showing top 3 rows

In [28]:
newCol = F.udf(lambda v: v.upper())
df1.select(F.col("genres"), newCol(F.col("genres"))).show(1, False)

+-------------------------------------------+-------------------------------------------+
|genres                                     |<lambda>(genres)                           |
+-------------------------------------------+-------------------------------------------+
|Adventure|Animation|Children|Comedy|Fantasy|ADVENTURE|ANIMATION|CHILDREN|COMEDY|FANTASY|
+-------------------------------------------+-------------------------------------------+
only showing top 1 row

Traceback (most recent call last):
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/daemon.py", line 186, in manager
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/daemon.py", line 74, in worker
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/worker.py", line 643, in main
    if read_int(infile) == SpecialLengths.END_OF_STREAM:
  File "/usr/local/spark/python/lib/pyspark.zip/pyspark/serializers.py", line 564, in read_int
    raise EOFError
EOFError